#book-image {
    background: black url("../images/book_background.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#booking-form {
    margin: 20px;
    padding-bottom: 20px;
}

#comments-link {
    cursor: pointer;
}

#comments-link:hover {
    font-weight: bold;
}