body {
    background: black url("../images/front_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div#welcome-box {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 200px;
    text-align: center;
    color: white;
}

div#welcome-box h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    margin-top: -10px;
    margin-bottom: 40px;
}

div#welcome-box p {
    font-size: 24px;
    font-weight: bold;
}
