body {
    background-color: #efefef;
}

#book-box {
    width: 100%;
    margin-top: 140px;
    background-color: white;
    float: left;
    border-radius: 10px;
}

#nav-box {
    background-color: black;
}

.btn-primary {
    width: 100%;
}

#book-image {
    background-color: black;
    min-height: 450px;
    border-radius: 10px 0 0 10px;
}

.invalid {
    border: 1px solid red;
}

.errors {
    color: red;
}

.content {
    margin: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.content p:first-of-type {
    padding-top: 30px;
}

/**  Responsive breakpoints **/
@media (max-width: 991px) {
    #book-image {
        border-radius: 10px 10px 0 0;
        margin-top: -30px;
    }
}
